/*
 * Footer
 */

.footer {
  z-index: 9999;
  padding: 40px 0;
  font-family: coves;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(31, 56, 63);
}

.footer .row {
  padding-left: 30px;
  width: 100%;
}

.footer a {
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

.footer img {
  min-width: 100%;
  min-height: 100%;
  padding: 20px;
}
