/*
 * Globals
 */

body {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #FFFFFF;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * Navbar CSS
 */

.navbar {
  background-color: #008542;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding-top: 13px;
  padding-bottom: 5px;
  width: 50px;
}

/* Nav links */
.nav-item {
  font-weight: 500;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cdddeb;
}
.nav-item:hover,
.nav-item:focus {
  color: #fff;
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.navbar .active {
  color: #fff;
}



/*
 * Single page app styling
 */

.page-section {
  min-height: 85vh;
  padding: 100px;
  background-color: #ddd;
}

.row-content {
  margin-top: 10vh;
}


/*
 * Image styles
 */

.bg-image {
  min-height: 600px;
  background: url("../images/etu.jpg") no-repeat center center;
  background-size: cover;
}

.img-fluid {
  max-height: 300px;
}


/*
 * Text styles
 */

.title-text {
    position: relative;
    margin-top: 40vh;
}

.title-text > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}


.paragraph-text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #555;
}

.ingress-text {
  font-size: 30px;
  color: #bbb;
}




/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #006631;
  border-top: 2px solid #555555;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}