/*
 * Globals
 */


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #FFFFFF;
}




/*
 * Single page app styling
 */

.page-section {
  min-height: 85vh;
  padding: 100px;
  background-color: #ddd;
  background-image: none;
}

.row-content {
  margin-top: 10vh;
}


/*
 * Image styles
 */

.bg-image {
  min-height: 600px;
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: center;
  background-size: cover;
}

.img-fluid {
  max-height: 300px;
}


/*
 * Text styles
 */

.title-text {
    position: relative;
    margin-top: 40vh;
}

.title-text > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}


.paragraph-text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #555;
}

.ingress-text {
  font-size: 30px;
  color: #bbb;
}




/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #006631;
  border-top: 2px solid #555555;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}