h1 {
  display: inline-block;
  margin-left: 30px;
  font-size: 2em;
  font-family: coves;
  font-weight: 900;
  color: #444;
  margin-bottom: 10px;
}

.guild-container {
    margin: 30px 0;
}

.content-card {
  box-shadow: 0 0 20px rgba(0,0,0,0.19);
  padding: 20px;
  padding-top: 30px;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: rgb(255, 255, 255);
}

.no-padding {
    padding: 0;
    min-height: 0;
}

.banner-img {
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    color: #FFF;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
    font-family: coves;
    font-weight: 900;
    text-align: center;
    width: 90%;
}

.post-column {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 4vw;
    padding-right: 4vw;
    text-align: left;
    font-family: opensans;
    font-size: 1.2em;
}

.post-excerpt {
    overflow: hidden;
}

.post-link {
    margin-top: 20px;
}

.calendar-link {
    margin-left: -15px;
    padding-left: 4vw;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.link-list {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: -15px;
    padding-left: 4vw;
    font-size: 1.8em;
    list-style-type: none;
}

.link-list li {
    padding-top: 15px;
    margin-bottom: 0;
    height: 79px;
}

.social-media {
    height: 440px;
    padding: 0;
}

.social-content { 
    padding-left: 20px;
    padding-right: 20px;
    max-height: 360px;
    overflow-y: auto;
    overflow-x: auto;
}

.social-facebook {
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 25px;
}


/* Calendar special stylings */
.simcal-calendar {
    padding-left: 4vw;
    margin-left: -15px;
}

.simcal-align-right {
    display: none;
}

.simcal-calendar-list {
    font-family: opensans;
    font-size: 1.5em;
}

.simcal-event-details p {
    margin-bottom: 0 !important;
    padding-left: 0;
}

ul.simcal-events {
    padding-left: 0;
    margin-left: 0 !important;
}