/*
 * Navbar CSS
 */

.navbar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px -15px 20px 10px #000;
}

.navbar-brand {
  padding: 0px;
  margin-left: 2vw;
}
.navbar-brand>img {
  height: 45px;
}

/* Nav links */
.nav-item {
  font-weight: 500;
  font-size: 36px;
  margin-top: -5px;
  margin-bottom: -5px;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: coves;
}


.nav-link {
  color: rgb(11, 163, 96) !important;
  padding-top: 0;
  padding-bottom: 0;
}


li.active,
.nav-item:hover,
.nav-item:focus {
  color: #ffffff;
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
}
