.background {
  background-image: url("../images/frontpage/pattern-background.jpg");
  min-height: calc(100vh - 61px - 200px);
}

h1 {
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4em;
  font-weight: normal;
  color: #333;
  border-bottom: 2px solid black;
  text-shadow: none;
}

p {
  padding: 10px;
  margin-top: 20px;
}

.content-page {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  min-height: 50vh;
  padding: 40px;
  padding-top: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: rgb(255, 255, 255);
  height: 100%;
}


/*
 * Signup and registration styles
 */
.recaptcha-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form, .account-container {
  margin: 1rem;
  margin-top: 2rem;
}

.form-row {
  display: block;
  margin-top: 1rem;
}

.form-row label {
  display: block;
  margin-bottom: 0;
}

.form-row .radio {
  margin-right: 1rem;
  display: inline-block;
}

.form-row input {
  margin-right: 0.5rem;
}
